* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

// .box h1 {
//   display: flex;
//   overflow: hidden; /* Hide letters while they are below */
// }

// .box h1 span {
//   display: inline-block;
//   font-size: 80px;
// }

.loader {
  .loaderbox {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .count {
      color: #fff;
      font-size: 4rem;
      font-weight: 600;
      font-family: sans-serif;
    }
  }
}



  .img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position:absolute;
  top:0;
  z-index:-1;
    img {
      height: 100%;
      width: 100%;
      scale: 1.2;
      object-fit: contain;
    }
  }

  .overlaptext{
    height: 100%;
    width: 100%;
    color: #b5b5b5;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: start;
    padding-left: 5rem;
    position: absolute;
    top: 0;
    z-index: -1;
    
    .heading{
      h1{
        font-size: 8rem;
      font-weight: 600;
      font-family: sans-serif;
      }
    }

    .subheading{
      overflow: hidden;
      h2{
        font-size: 1.4rem;
        font-weight: 600;
        font-family: sans-serif;
      }
    }
  }

